body {
    background-color: #0F4C75
}

/* styles/index.css */
body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust the margin to control spacing */
}

.text {
    max-width: 80%;
    padding: 15px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.text h2 {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px; 
    font-weight: bolder;
}

.text p {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    
}

.text h3 {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    margin-top: 3%;
    
}

.text h2, .text p {
    text-align: center;
}


.custombg {
    background-color: #0F4C75;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.form {
    margin-bottom: 3%;
}

.custombg:hover {
    background-color: white; /* Change background color as desired */
    color: #0F4C75;
  }


.image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 20px; /* Adjust the margin to control spacing */
    margin-top: 3%;
    
}

.image-container img {
    max-width: 100px; /* Adjust the width of the image */
    height: auto;
}

.img2 {
    margin-left: 40px;
    max-width: 120px;
    height: auto;
}

.container2 {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px; /* Optional margin */
}
